@media (max-width: 1440px) {
  header.header {
    width: 80vw;
    max-width: 1200px;
  }
}

@media (min-width: 1344px) {
  .cart-items-container {
    left: 75%;
  }
}

@media (min-width: 801px) {
  .links a {
    font-size: var(--paragraph);
    display: block;
    height: auto !important;
    position: relative;
  }

  .links a:hover::after {
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    top: 260%;
    left: 0;
    background: var(--orange);
  }
}

@media (min-width: 881px) {
  .links {
    display: flex;
    gap: 50px;
  }

  .links a {
    font-size: var(--paragraph);
    display: block;
    height: auto !important;
    position: relative;
  }

  .links a:hover::after {
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    top: 355%;
    left: 0;
    background: var(--orange);
  }

  .menu-icon {
    display: none;
  }

  header.header {
    width: 90vw;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
    position: relative;
  }

  .header::after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    top: 160%;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--light-grayish-blue);
  }
}

@media (max-width: 970px) {
  html {
    font-size: 55%;
  }

  main {
    gap: 40px;
    padding: 20px;
  }

  .cart-items-container {
    left: 40%;
  }
}

@media (max-width: 800px) {
  .menu-icon {
    display: inline-block;
    cursor: pointer;
  }

  .menu-logo {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .links-center {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black-with-opacity);
    z-index: 10;
    transform: translate(-100%);
  }

  .links {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 25rem;
    height: 100%;
    background: var(--white);
    padding: 3rem 3rem;
  }

  .links a {
    display: block;
    margin: 0.5rem 0;
    font-size: 1.8rem;
    color: var(----dark-grayish-blue);
    font-weight: var(--font-weight-bold);
  }

  .modal-overlay {
    display: none;
  }
}

@media (min-width: 800px) {
  .menu-icon {
    display: none;
  }

  .close-btn {
    display: none;
  }
}

@media (max-width: 970px) {
  .cart-items-container {
    left: 85%;
  }
}

@media (max-width: 880px) {
  .links {
    display: flex;
    gap: 20px;
  }

  .links a {
    display: block;
    font-size: 2rem;
  }

  header.header {
    width: 90vw;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
    position: relative;
  }

  .header::after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    top: 160%;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--light-grayish-blue);
  }

  .cart_profile-container {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .cart_profile-container .account .image-avatar {
    height: auto;
    width: 40px;
    cursor: pointer;
    border-radius: var(--avatar-br);
  }
}

@media (max-width: 860px) {
  section.description .title {
    font-size: 13px;
  }

  section.description .heading {
    font-size: 38px;
    margin-bottom: var(--mb2);
  }

  section.description .info {
    margin-bottom: var(--mb2);
    line-height: 27px;
  }
}

@media (min-width: 700px) {
  .products {
    cursor: zoom-in;
  }
}

@media (max-width: 700px) {
  main {
    flex-direction: column;
  }

  section.images {
    width: 100%;
  }

  section.description {
    width: 100%;
  }

  .cart-items-container {
    left: 80%;
    transform: translateX(-65%);
  }

  .products {
    pointer-events: none;
  }
}

@media (min-width: 970px) and (max-width: 1320px) {
  .cart-items-container {
    transform: translateX(-10%);
  }
}

@media (min-width: 700px) and (max-width: 1344px) {
  .cart-items-container {
    transform: translateX(-65%);
  }
}

@media (min-width: 500px) and (max-width: 610px) {
  .cart-items-container {
    transform: translateX(-65%);
  }
}

@media (min-width: 540px) and (max-width: 700px) {
  section.images {
    width: 90%;
    display: grid;
    gap: 55px;
  }
}

@media (max-width: 890px) and (min-width: 700px) {
  .btn-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .add-to-cart {
    width: 100%;
    padding: 16px 20px;
  }

  .number-input {
    width: 100%;
  }
}

@media (max-width: 767px) {
  section.images {
    width: 100%;
    display: grid;
    gap: 35px;
  }

  section.description {
    width: 100%;
  }

  section.description .title {
    font-size: 13px;
    margin-bottom: var(--mb1);
  }

  section.description .heading {
    font-size: 30px;
    margin-bottom: var(--mb1);
  }

  section.description .info {
    margin-bottom: var(--mb2);
    line-height: 27px;
  }
}

@media (min-width: 768px) {
  section.images {
    display: grid;
    gap: 35px;
  }
}

@media (max-width: 780px) {
  main {
    gap: 30px;
    padding: 20px;
  }
}

@media (max-width: 390px) {
  .content h3 {
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 500px) {
  .links a {
    color: var(----dark-grayish-blue);
  }

  header.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 2rem;
  }

  .header::after {
    content: "";
    height: 0;
    width: 0;
    top: 0;
  }

  .cart_profile-container {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .cart_profile-container .account .image-avatar {
    height: auto;
    width: 30px;
    cursor: pointer;
    border-radius: var(--avatar-br);
  }

  .cart-items-container {
    top: 180%;
    left: 0;
    width: 100%;
    transform: translateX(0);
  }

  .content h3 {
    font-size: 16px;
  }

  .cart-items img {
    width: 50px;
    height: 50px;
  }

  .amount span {
    font-size: 16px;
  }

  .amount span:is(.times) {
    font-size: 9px;
  }

  .cart-header h2 {
    font-size: 16px;
  }

  section.images {
    width: 100%;
    margin: 0;
    margin-bottom: -65px;
  }

  section.description {
    width: 100%;
    padding: 25px;
  }

  section.images .image-product-thumbnails {
    display: none;
  }

  section.images .image-products-container {
    margin-bottom: 0;
  }

  main {
    width: 100%;
    margin: 8px 0;
    margin-bottom: 100px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .number-input {
    width: 100%;
  }

  .add-to-cart {
    width: 100%;
    padding: 10px 20px;
    height: 60px;
  }

  section.description .price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--mb3);
  }

  section.description .previous-price {
    margin-bottom: 0;
  }

  section.description .title {
    color: var(--orange);
    margin-bottom: var(--mb1);
    letter-spacing: 1.6px;
    font-size: 12px;
  }

  section.description .heading {
    font-size: 28px;
    margin-bottom: var(--mb2);
  }

  .slider-container {
    position: relative;
    overflow: hidden;
    height: 38vh;
    width: 100vw;
  }

  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
  }

  .slide > img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0;
    object-fit: cover;
    object-position: center;
  }

  .slide[data-active] {
    opacity: 1;
  }

  .carousel-btn {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    border-radius: var(--avatar-br);
    background: var(--white);
    cursor: pointer;
  }

  .carousel-btn:hover svg path {
    stroke: var(--orange);
  }

  .carousel-btn.prev {
    left: 1rem;
  }

  .carousel-btn.next {
    right: 1rem;
  }

  .menu-icon {
    display: inline-block;
    cursor: pointer;
  }

  .menu-logo {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .products:nth-child(2),
  .products:nth-child(3),
  .products:nth-child(4) {
    display: block;
  }

  .carousel-btn {
    display: grid;
    place-content: center;
  }

  .thumbnails {
    display: none;
  }
}
